<footer id="footer">
  <div class="has-background-grey-darker">
    <div class="container columns">
      {% unless site.whatsapp_number == %}
      <a
        href="https://wa.me/{{site.whatsapp_number}}"
        target="_blank"
        class="column has-text-white is-flex icon icons-gap"
      >
        <img width="25px" src="{{ '/assets/images/whatsapp-icon.svg' | relative_url }}" />
        WhatsApp
      </a>
      {% endunless %} {% unless site.instagram_username == %}
      <a
        href="http://www.instagram.com/{{site.instagram_username}}"
        target="_blank"
        class="column has-text-white is-flex icon icons-gap"
      >
        <img width="25px" src="{{ '/assets/images/instagram-icon.svg' | relative_url }}" />
        Instagram
      </a>
      {% endunless %} {% unless site.tiktok_username == %}
      <a
        href="http://www.tiktok.com/@{{site.tiktok_username}}"
        target="_blank"
        class="column has-text-white is-flex icon icons-gap"
      >
      <img width="20px" src="{{ '/assets/images/tiktok-icon.svg' | relative_url }}" />
        TikTok
      </a>
      {% endunless %}
    </div>
  </div>
  <div
    class="has-background-black has-text-centered has-text-white"
    id="credits"
  >
    <i class="far fa-copyright"></i>Copyright © {{ "now" | date: "%Y" }}
    EcoDreams
  </div>
</footer>
