<section class="hero is-fullheight has-text-centered has-background-white-ter" id="mision-vision">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns mision-vision-container">
                <div class="column">
                    <h2 class="title is-uppercase has-text-weight-medium has-text-blue">Misión</h2>
                    <p class="mision-vision-p">
                        Ofrecer bienestar y descanso a través de <b>almohadas aromatizadas</b>
                        con esencias específicas para la <b>relajación</b>, promoviendo
                        la salud de nuestros clientes y el cuidado del medio ambiente
                        mediante una producción <b>sostenible</b>
                    </p>
                </div>
                <div class="column">
                    <h2 class="title is-uppercase has-text-weight-medium has-text-blue">Visión</h2>
                    <p class="mision-vision-p">
                        Ser <b>líderes</b> en el diseño de almohadas sostenibles, promoviendo el 
                        <b>bienestar</b> de las personas y del planeta, mediante un modelo de 
                        <b>economía circular</b> que transforme los desechos en recursos valiosos.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

